<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoFinal"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".EventsMapBox"
            android:exported="false" />
        <activity
            android:name=".QR_Scanner"
            android:exported="false" />
        <activity
            android:name=".ProfesorEventosEstudiantes"
            android:exported="false" />
        <activity
            android:name=".DetalleNovedadProfesor"
            android:exported="false"
            android:label="SGC - Novedades por Estudiantes" />
        <activity
            android:name=".DetalleEstudiante"
            android:exported="false"
            android:label="SGC - Detalle Estudiante" />
        <activity
            android:name=".HomeProfesorCursoDetalle"
            android:exported="false"
            android:label="SGC - Detalle Curso"
            android:parentActivityName=".ui.HomeProfesor" />
        <activity
            android:name=".HomeProfesorCursoEstudiantes"
            android:exported="false"
            android:label="SGC - Listado de Estudiantes"
            android:parentActivityName=".ui.HomeProfesor" />
        <activity
            android:name=".ui.HomeProfesorAddNotify"
            android:exported="false"
            android:label="SGC - Añadir Novedad"
            android:parentActivityName=".ui.HomeProfesor" />
        <activity
            android:name=".ui.HomeProfesor"
            android:exported="false"
            android:label="SGC - Página de Inicio" />
        <activity
            android:name=".ui.HomeEstudiante"
            android:exported="false"
            android:label="SGC - Página de Inicio" />
        <activity
            android:name=".ui.Login"
            android:exported="false"
            android:label="SGC - Ingreso" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="SGC - Splash"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".io.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>